h1{
    background-color: aquamarine;
    border: 3px dotted;
    text-align: center;
}
body{
    background-image: linear-gradient(rgb(122, 122, 122), rgb(101, 255, 216));
    background-size: auto;
}
.top{
    background-image: linear-gradient(orange, rgb(81, 255, 65));
    border: 3px solid;
    padding: 20px;
}
.arithmetic{
    background-color: pink;
    border: 2px solid;
    display: inline-block;
    padding: 20px;
}
.strings{
    background: greenyellow;
    border: 2px solid;
    display: inline-block;
    padding: 20px;
}
.assope{
    color:White;
    background-color: red;
    border: 2px solid yellow;
    display: inline-block;
    padding: 20px;
}
.incre{
    background-image: linear-gradient(pink, rgb(255, 255, 59));
    border: 2px solid yellow;
    display: inline-block;
    padding: 20px;
}
.snum{
    background-image: linear-gradient(brown, grey);
    border:2px solid white;
    display: inline-block;
    padding: 10px;
    height: auto;
    vertical-align: bottom;
}
.dtypes{
    background-image: linear-gradient(to left, rgb(252, 86, 113), rgb(134, 134, 109));
    border: 2px dashed rgb(0, 255, 55);
    display: inline-block;
    padding: 20px;
}
.mid{
    margin-top: 20px;
    border: 3px solid;
    padding: 20px;
}
.exponential{
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}
.bool{
    background-color: rgb(237, 255, 79);
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}
.arrays{
    background-color: rgb(60, 255, 125);
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
}
.obj{
    background-color: rgb(0, 47, 255);
    border: 2px solid black;
    display: inline-block;
    color:white;
    padding: 20px;
}
.funct{
    background-image: linear-gradient(pink, rgb(175, 105, 255));
    border: 2px solid black;
    display: inline-block;
    padding: 20px;  
}
.events{
    background-image: linear-gradient(rgb(255, 0, 0), rgb(4, 0, 255));
    border: 2px solid black;
    color:white;
    width: fit-content;
    display: block;
    padding: 20px;
    margin-top: 20px;  
}
.bot{
    background-image: linear-gradient(to left,pink, rgb(255, 176, 29));
    margin-top: 20px;
    border: 3px solid;
    padding: 20px;
}
.strings2{
    background: rgb(230, 164, 247);
    border: 2px solid;
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
}
.matchy{
    background-image: linear-gradient(rgb(197, 109, 124), rgb(175, 105, 255));
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.bot2{
    background-image: linear-gradient(to right,rgb(77, 255, 181), rgb(255, 176, 29));
    margin-top: 20px;
    border: 3px solid;
    padding: 20px;
}
.NaN{
    background: rgb(100, 72, 255);
    border: 2px solid;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.toExpo{
    background: rgb(77, 255, 100);
    border: 2px solid;
    display: inline-block;
    padding: 20px;
    vertical-align: top; 
}
