body{
    display: flex;
}
#intro-container, #state-container, #operate-container{
    flex-direction: row;
    border: outset 4px black;
    padding: 4px;
    width: 32%;
}
#transform{
    color: royalblue;
}
#shazam{
    border-radius: 10px;
    color: red;
    background-color: silver;
    font-weight: bold;
}
#shazam:active{
    outline: outset 2px yellow;
}
#bulon{
    background-color: gold;
}
#buloff{
    background-color: black;
    color: white;
}