* { box-sizing: border-box;}
body{ background-color: powderblue;}

header{ background-color: rgb(112, 161, 216);
        padding: 5px;
        margin: 10px;
        text-align: center;
    }
.flex { display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;}
.fbox { margin-top: 5px;
        width:300px;
        height: auto;
        padding:5px;
        background-color: rgb(107, 221, 154);
        text-align: center;
}
.firstdiv{ padding:5px;
           width: 300px;
           text-align: center;
           background-color: rgb(143, 51, 143);
       }
.seconddiv{ padding:5px;
            width: 300px;
            text-align: center;
            background-color: rgb(37, 133, 66);
      }