* { box-sizing: border-box;}
body{ background-color: powderblue;}
.topnav {
    overflow: hidden;
    background-color: pink;
  }
.topnav a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
  }
.topnav a:hover {
    background-color: purple;
    color: black;
  }
.topnav .icon {
    display: none;
  }
  